<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="logo.png">
    <title>SP Medical Group</title>

<body>

    <header>
        <div>
            <img src="logo.png" type="img" class="logo" height="95" width="95">
        </div>

        <h1 class="titulo"> SP Medical Group </h1>
    </header>

    <div class="rectangle"></div>
    <div class="rectangle2"></div>

    <div class="login">
        <h3>Login</h3>

    </div>

    <div>
        <img src="médico 2.png" class="fundo">
    </div>

    <div id="usuarios">''
        <form action="/login2" method="post">

            <div class="email">
                <input type="email" placeholder="Email" name="username">
            </div>

            <div class="senha">
                <input type="password" id="password" name="password" placeholder="Senha">
            </div>

            <!--Caixa de-->

            <div>
                <select id="cargo" name="cargo" class="cargo" placeholder="Cargo">
                    <option value="medico">Médico</option>
                    <option value="adm">Administrador</option>
                </select>
            </div>

            <a href="index"><img src="btn voltar.png" class="voltar"></a>

            <div class="entrar">
                <button type="submit" name="Entrar" id="entrar">Entrar</button>
            </div>
        </form>
    </div>


    </head>

    <script>

        function Entrar() {
            window.location.href = "agendar2"
        }
    </script>

    <style>
        * {
            margin: 0%;
            padding: 0%;
        }

        .logo {
        position: absolute;
        z-index: 2;
        left: 14%;
        top: 4%;
        border-radius: 50%;
    }

    .titulo {
        color: #3F4927;
        right: 20%;
        position: absolute;
        top: 17%;
        left: 8%;
        z-index: 2;
    }

    .rectangle {
        width: 38rem;
        height: 58.65rem;
        background: #8D9277;
        position: absolute;
        top: -18%;
        z-index: 1;
    }

    .rectangle2 {
        width: 31rem;
        height: 31rem;
        background: #B8BF9A;
        position: absolute;
        top: 25%;
        left: 3%;
        z-index: 2;
    }

    .login {
        position: absolute;
        z-index: 3;
        color: #ffffff;
        left: 14.3%;
        font-size: 140%;
        top: 30%;
    }

    .fundo {
        position: absolute;
        left: 30%;
        top: -13%;
        height: 100%;;
        z-index: 0;
    }

    .email {
        position: absolute;
        z-index: 3;
        left: 6.5%;
        top: 40%;
        color: #8D9277;
    }

    input[type="email"] {
        width: 360px;
        height: 40px;
        background-color: #D9DDD7;
        border-color: #D9DDD7;
    }

    .cpf {
        position: absolute;
        z-index: 3;
        left: 6.5%;
        top: 50%;
        color: #8D9277;
    }

    input[type="number"] {
        width: 360px;
        height: 40px;
        background-color: #D9DDD7;
        border-color: #D9DDD7;
    }

    .senha {
        position: absolute;
        z-index: 3;
        left: 6.5%;
        top: 50%;
        color: #8D9277;
    }

    input[type="password"] {
        width: 360px;
        height: 40px;
        background-color: #D9DDD7;
        border-color: #D9DDD7;
    }

    button {
        position: absolute;
        z-index: 3;
        left: 14.5%;
        top: 68.5%;
        color: #FFFFFF;
        height: 30px;
        width: 65px;
        background-color: #B79D7C;
        border-radius: 5px;
        border-color: #B79D7C;
    }

        .cargo {
            position: absolute;
            z-index: 3;
            left: 6.5%;
            top: 60%;
            background-color: #D9DDD7;
            color: #717070;
            width: 365px;
            height: 40px;
            box-shadow: inset 0.6px 0.6px 0px 1px rgb(142, 142, 142);
        }


        button {
            position: absolute;
            z-index: 3;
            left: 14.5%;
            top: 68.5%;
            color: #FFFFFF;
            height: 30px;
            width: 65px;
            background-color: #B79D7C;
            border-radius: 5px;
            border-color: #B79D7C;
        }


        .opções1 {
            position: absolute;
            z-index: 3;
            color: #3f492700;
            left: 17%;
            top: 84%;
            font-size: 100%;

        }

        .opções2 {
            position: absolute;
            z-index: 3;
            color: #3F4927;
            left: 7%;
            top: 77%;
            font-size: 80%;
        }

        img[type="img"] {
            position: absolute;
            border-radius: 40px;
        }

        .voltar {
            position: absolute;
            width: 3.3%;
            left: 0.5%;
            top: 1%;
            z-index: 3;
        }

        body {
            overflow-y: hidden;
        }

        body {
            overflow-x: hidden;
        }
    </style>

</body>

</html>